<!DOCTYPE html>
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ユーザ新規登録</title>
</head>
<body>
<form method="post" th:action="@{/users/create}" th:object="${form}">
    <p>名前：<input type="text" th:field="*{name}" /></p>
    <p>年齢：<input type="number" th:field="*{age}" /></p>
    <p>
        性別：<input type="radio" th:field="*{gender}" value="MAN" />男<input type="radio" th:field="*{gender}" value="WOMAN" />女
    </p>
    <p>画像URL：<input type="url" th:field="*{imageUrl}" /></p>
    <p>趣味：<input type="text" th:field="*{hobby}" /></p>
    <p>特技：<input type="text" th:field="*{speciality}" /></p>

    <p><input type="submit" value="送信"><input type="reset" value="リセット"></p>
</form>
</body>
</html>
