<!DOCTYPE html>
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ユーザ一覧</title>
</head>
<body>
    <h1>ユーザ一覧</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>名前</th>
            <th>年齢</th>
            <th>性別</th>
            <th>画像</th>
            <th></th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}">あいでぃー</td>
            <td><a th:href="@{/users/{id}(id=${user.id})}" th:text="${user.name}">なまえ</a></td>
            <td th:text="${user.age}">ねんれい</td>
            <td th:text="#{|gender.${user.gender}|}">せいべつ</td>
            <td><img th:src="${user.imageUrl}" width="200" height="200"/></td>
            <td>
                <form method="post" th:action="@{/users/{id}(id=${user.id})}">
                    <input type="hidden" name="_method" value="delete"/>
                    <input type="submit" value="削除">
                </form>
            </td>
        </tr>
    </table>
</body>
</html>
